<div class="page-header">
  <h2>Grand Lodges Listing</h2>
</div>
<%= render partial: 'tabbed_nav', locals: {:active => :index} %>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= '#' %></th>
    <th><%= 'Name' %></th>
    <th><%= 'Created at' %></th>
    <th><%= 'Updated at' %></th>
    <th><%= 'Actions' %></th>
  </tr>
  </thead>
  <tbody>
  <% @grand_lodges.each do |grand_lodge| %>
  <tr>
    <td><%= link_to grand_lodge.id, [:admin, grand_lodge] %></td>
    <td><%= link_to grand_lodge.name, [:admin, grand_lodge] %></td>
    <td><%= grand_lodge.created_at %></td>
    <td><%= grand_lodge.updated_at %></td>
    <td>
      <%= link_to 'Edit', edit_admin_grand_lodge_path(grand_lodge), :class => 'btn btn-mini' %>
      <%= link_to 'Destroy', admin_grand_lodge_path(grand_lodge), :method => :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>