<ul class="nav nav-tabs">
  <li <%= active == :index ? 'class=active' : '' %>>
    <%= link_to 'Listing', admin_lodges_path %>
  </li>
  <li <%= active == :new ? 'class=active' : '' %>>
    <%= link_to 'New', new_admin_lodge_path %>
  </li>
  <li <%= active == :show ? 'class=active' : 'class=disabled' %>>
    <a href="">Details</a>
  </li>
  <li <%= active == :export ? 'class=active' : 'class=disabled' %>>
    <a href="">Export</a>
  </li>
  <li <%= active == :import ? 'class=active' : 'class=disabled' %>>
    <a href="">Import</a>
  </li>
  <form class="form-search pull-right" action="<%= search_admin_lodges_path %>">
    <input id="search" class="input-medium search-query" name="query" type="text" value="<%= params[:query] %>"/>
    <button class="btn">Search</button>
  </form>
</ul>