<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= '#' %></th>
      <th><%= 'User' %></th>
      <th><%= 'Name' %></th>
      <th><%= 'Registration Number' %></th>
      <th><%= 'Grand Lodge' %></th>
      <th><%= 'City' %></th>
      <th><%= 'Events' %></th>
      <th><%= 'Published' %></th>
      <th><%= 'Created at' %></th>
      <th><%= 'Updated at' %></th>
      <th><%= 'Actions' %></th>
    </tr>
    <tr>
      <th><%= f.text_field :id, :class => 'input-block-level' %></th>
      <th></th>
      <th><%= f.text_field :name, :class => 'input-block-level' %></th>
      <th><%= f.text_field :registration_number, :class => 'input-block-level' %></th>
      <th><%= f.collection_select :grand_lodge_id, GrandLodge.all, :id, :abbreviation, {:prompt => 'Please select'}, {:class => 'input-block-level'} %></th>
      <th><%= f.text_field :city, :class => 'input-block-level' %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody id="listing">
      <%= render partial: 'tbody' %>
    </tbody>
  </table>
  <div id="pagination">
    <%= render partial: 'pagination' %>
  </div>
</div>
