<div class="page-header">
  <h2>New Lodge</h2>
</div>
<%= render partial: 'tabbed_nav', locals: {:active => :new} %>
<%= bootstrap_form_for(@lodge, :html => {:class => 'form-horizontal'}) do |f| %>
    <%= f.text_field :name %>
    <%= f.text_area :description %>
    <%= f.check_box String(:published) %>
    <%= f.actions %>
<% end %>
