<div class="page-header">
  <h2>Lodge: <%= @lodge.name %></h2>
</div>
<%= render partial: 'tabbed_nav', locals: {:active => :show} %>
<dl>
  <dt><%= 'Name' %></dt>
  <dd><%= @lodge.name %></dd>
  <dt><%= 'Description' %></dt>
  <dd><%= @lodge.description %></dd>
  <dt><%= 'Created at' %></dt>
  <dd><%= @lodge.created_at %></dd>
  <dt><%= 'Updated at' %></dt>
  <dd><%= @lodge.updated_at %></dd>
</dl>
