<div class="page-header">
  <h2>Events Listing <small>of Lodge: <%= link_to @lodge.name, @lodge %></small></h2>
</div>
<%= render partial: 'tabbed_nav', locals: {:active => :index} %>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= '#' %></th>
    <th><%= 'Name' %></th>
    <th><%= 'Category' %></th>
    <th><%= 'Start time' %></th>
    <th><%= 'Created at' %></th>
    <th><%= 'Updated at' %></th>
    <th><%= 'Actions' %></th>
  </tr>
  </thead>
  <tbody>
    <% @lodge_events.each do |lodge_event| %>
        <tr>
            <td><%= link_to lodge_event.id, [:admin, @lodge, lodge_event] %></td>
            <td><%= link_to lodge_event.name, [:admin, @lodge, lodge_event] %></td>
            <td><%= lodge_event.lodge_event_category.name %></td>
            <td><%= lodge_event.start_time %></td>
            <td><%= lodge_event.created_at %></td>
            <td><%= lodge_event.updated_at %></td>
            <td>
                <%= link_to 'Edit', edit_admin_lodge_lodge_event_path(@lodge, lodge_event), :class => 'btn btn-mini' %>
                <%= link_to 'Destroy', [@lodge, lodge_event], :method => :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-mini btn-danger' %>
            </td>
        </tr>
    <% end %>

  </tbody>
</table>
<%= paginate @lodge_events, :theme => 'twitter-bootstrap', :pagination_class => 'pagination-right' %>