<!DOCTYPE html>
<html>
<head>
  <title>LodgeManager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
      <%= yield %>
    </div>
    <div class="span2">
      <div class="well" style="padding: 8px 0;">
        <%= render_navigation :expand_all => true %>
        <!--<ul class="nav nav-list">-->
          <!--<li class="nav-header">Account</li>-->
          <!--<li><a href="#">Settings</a></li>-->
          <!--<li><%= link_to('Logout', destroy_admin_session_path, :method => :delete) %></li>-->
          <!--<li class="divider"></li>-->
        <!--</ul>-->
      </div>
    </div>
  </div>
</div>
</body>
</html>
