<!DOCTYPE html>
<html>
<head>
  <title>LodgeManager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar :brand => 'LodgeManager' do %>
    <% if current_user.is_admin? %>
    <%= menu_group :pull => :left do %>
        <%= menu_item 'Lodges', admin_lodges_path %>
        <%= menu_item 'Grand Lodges', admin_grand_lodges_path %>
    <% end %>
    <% end %>

    <%= menu_group :pull => :right do %>
        <%= menu_item 'Settings', edit_user_registration_path %>
        <%= menu_item 'Logout', destroy_user_session_path, :method => :delete %>
    <% end %>
<% end %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <%= yield %>
    </div>
  </div>
</div>
<%= yield :scripts %>
</body>
</html>
